.react-scrollx {
    position: relative;
    overflow: hidden;
}

.react-scrollx__outer-container {
    overflow: hidden;
}

.react-scrollx__thumb {
    background-color: #8d8d8d;
    position: absolute;
    width: 7px;
    border-radius: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

.react-scrollx__bar {
    display: block;
    background-color: #efefef;
    height: 100%;
    width: 7px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: .7;
    transition: transform .1s linear .1s;
    transform: translateX(0);
}

.with-transform {
    transform: translateX(100%);
    transition: transform .1s linear .1s;
}

.react-scrollx--without-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.is-hide {
    display: none
}
